<div class="FPOHeroBannerWrapper" style="background-image: url('${properties.bgImage @context='uri'}');">
    <div class="FPOHeroBannerWrapper__container">
        <div class="FPOHeroBannerWrapper__content">
            <div class="FPOHeroBannerWrapper__content--heading">
                <div class="FPOHeroBannerWrapper__content--heading-text white-border-heading bigger-font">${properties.title}</div>
            </div>
            <div class="FPOHeroBannerWrapper__info">
              <div class="FPOHeroBannerWrapper__info--left">
                <p class="FPOHeroBannerWrapper__info-heading ">${properties.leftTextOne}</p>
                <p class="FPOHeroBannerWrapper__info-description">${properties.leftTextTwo}</p>
                <p class="FPOHeroBannerWrapper__info-description">${properties.leftTextThree}</p>
                <div class="FPOHeroBannerWrapper-cta-wrapper">
                  <a class="FPOHeroBannerWrapper-cta-button" href="${properties.leftCtaLink}" target="${properties.leftTarget}">${properties.leftCtaLabel}
                  <a class="FPOHeroBannerWrapper-cta-button secondary" href="${properties.rightCtaLink}.html" target="${properties.rightTarget}">${properties.rightCtaLabel}
                  </a>
                </div>
              </a>
              </div>
            </div>
          </div>
    </div>
</div>