<div class="seatingexperience-content-wrapper">

    <div class="seatingexperience-column-1">
        <div class="seatingexperience-column-1-content_block">
            <div class="seatingexperience-column-1-content_block_img">
                <img src="/content/dam/desertwolves/sites/seatingexp/zoomin_icon.png" />
                <img src="/content/dam/desertwolves/sites/seatingexp/zoomout_icon.png" />
                <img src="/content/dam/desertwolves/sites/seatingexp/undo_icon.png" />
            </div>
            <div class="seatingexperience-column-1-content_block_statistic">

                <div class="seatingexperience-column-1-content_block_statistic_txt"><div class="square dark_blue"></div>available</div>
                <div class="seatingexperience-column-1-content_block_statistic_txt"><div class="square blue"></div>selected</div>
                <div class="seatingexperience-column-1-content_block_statistic_txt"><div class="square grey"></div>unavailable</div>
            </div>
        </div>
        <div class="seatingexperience-column-1-imgblock">
            <img src="/content/dam/desertwolves/sites/seatingexp/stadium.png" />
        </div>


    </div>
    <div class="seatingexperience-column-2">

        <div class="seatingexperience-column-2-headerpart">
            <img class="calendar_icon" src="/content/dam/desertwolves/sites/seatingexp/calender_icon.png" />
            <div class="seatingexperience-column-2-headerpart_calendar_text">
                SUNDAY, DECEMBER 9 AT 7:00 PM
            </div>
            <img class="info_icon" src="/content/dam/desertwolves/sites/seatingexp/info_icon.png"/>
        </div>
        <div class="seatingexperience-column-2-Subheaderpart">
            <h3>PHOENIX SUNS AT LAS VEGAS DESERT WOLVES</h3>
            <h6>T-Mobile Arena, Las Vegas, NV</h6>

            <div class="seatingexperience-column-2-Subheaderpart-menusection">

                <img  class="seatingexperience-column-2-Subheaderpart-menusection-textpart menu_icon_cta" src="/content/dam/desertwolves/sites/seatingexp/menu_icon.png" />

                <button class="seatingexperience-column-2-Subheaderpart-menusection-textpart">
                    2
                    <img  class="user_icon_cta" src="/content/dam/desertwolves/sites/seatingexp/user_icon.png" />
                </button>

                <div class="seatingexperience-column-2-Subheaderpart-menusection-textpart">
                    $17 - $200
                </div>


            </div>

        </div>
        <div class="seatingexperience-column-2-seatselection">
            <div class="column">
                <div class="row  grid-2cl">
                    <div class="heading_part">
                        Sections 6
                    </div>
                    <div class="seat-selection-cta">
                        select Seats
                    </div>
                    <div class="ticket-selection-text">
                        2 tickets, from $79 each
                    </div>
                </div>
            </div>
        </div>
        <div class="seatingexperience-column-2-seatselection">
            <div class="column">
                <div class="row  grid-2cl">
                    <div class="heading_part">
                        Sections 7
                    </div>
                    <div class="seat-selection-cta">
                        select Seats
                    </div>
                    <div class="ticket-selection-text">
                        2 tickets, from $79 each
                    </div>
                </div>
            </div>
        </div>
        <div class="seatingexperience-column-2-seatselection">
            <div class="column">
                <div class="row  grid-2cl">
                    <div class="heading_part">
                        Sections 8
                    </div>
                    <div class="seat-selection-cta">
                        select Seats
                    </div>
                    <div class="ticket-selection-text">
                        2 tickets, from $79 each
                    </div>
                </div>
            </div>
        </div>
        <div class="seatingexperience-column-2-seatselection">
            <div class="column">
                <div class="row  grid-2cl">
                    <div class="heading_part">
                        Sections 17
                    </div>
                    <div class="seat-selection-cta">
                        select Seats
                    </div>
                    <div class="ticket-selection-text">
                        2 tickets, from $79 each
                    </div>
                </div>
            </div>
        </div>
        <div class="seatingexperience-column-2-seatselection">
            <div class="column">
                <div class="row  grid-2cl">
                    <div class="heading_part">
                        Sections 18
                    </div>
                    <div class="seat-selection-cta">
                        select Seats
                    </div>
                    <div class="ticket-selection-text">
                        2 tickets, from $79 each
                    </div>
                </div>
            </div>
        </div>
        <div class="seatingexperience-column-2-seatselection">
            <div class="column">
                <div class="row  grid-2cl">
                    <div class="heading_part">
                        Sections 19
                    </div>
                    <div class="seat-selection-cta">
                        select Seats
                    </div>
                    <div class="ticket-selection-text">
                        2 tickets, from $79 each
                    </div>
                </div>
            </div>
        </div>
        <div class="seatingexperience-column-2-seatselection">
            <div class="column">
                <div class="row  grid-2cl">
                    <div class="heading_part">
                        Sections 20
                    </div>
                    <div class="seat-selection-cta">
                        select Seats
                    </div>
                    <div class="ticket-selection-text">
                        2 tickets, from $79 each
                    </div>
                </div>
            </div>
        </div>
        <div class="seatingexperience-column-2-seatselection">
            <div class="column">
                <div class="row  grid-2cl">
                    <div class="heading_part">
                        Sections 21
                    </div>
                    <div class="seat-selection-cta">
                        select Seats
                    </div>
                    <div class="ticket-selection-text">
                        2 tickets, from $79 each
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>