.heroBanner-main {
    .heroBanner-container {
        display: block;
        padding: 70px;
        background: $ct-color-primary-dark;
        height: 772px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right top;


        .heroBanner {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            align-self: stretch;
            margin-top: 88px;
        }

        .heroBanner-content-wrapper {
            display: flex;
            align-items: start;
            gap: 16px;
            flex-direction: column;
        }

        .heroBanner-heading {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
            margin-top: 36px;
        }

        .white-heading {

            font-size: 56px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            letter-spacing: -1.68px;
            text-transform: uppercase;
            color: $ct-color-white;
            margin-top: -24px;
        }

        .white-sub-heading {
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            letter-spacing: -1.68px;
            text-transform: uppercase;
            color: $ct-color-white;
        }

        .white-border-heading {
            font-size: 112px;
            font-weight: 900;
            line-height: 100%;
            letter-spacing: -1.68px;
            text-transform: uppercase;
            color: transparent;
            -webkit-text-stroke: 2px #fff;
            letter-spacing: -3.36px;
        }

        .bigger-font {
            font-size: 112px;
        }

        .heroBanner-content {
            display: flex;
            width: 660px;
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
        }

        .heroBanner-content-text-wrapper {
            color: $ct-color-white;

            font-size: 20px;
            font-style: normal;
            font-weight: 400 !important;
            line-height: 120%;
        }

        .heroBanner-content-text {
            width: 510px;
        }

        .heroBanner-content-button {
            display: flex;
            padding: 16px 24px;
            justify-content: center;
            align-items: center;
            gap: 6.283px;
            background: $ct-color-white;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            letter-spacing: -0.48px;
            background-color: #ffffff;
            color: #29455c;
            border-radius: 32px;
        }

        .heroBanner-content-button:hover {
            text-decoration: underline;
        }

        .heroBanner-levels {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
            margin-bottom: -32px;
        }

        .heroBanner-level {
            width: 189px;
            height: 251px;
            flex-shrink: 0;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            border: 1.178px solid $ct-color-primary-dark;
            background: $ct-color-white;
            align-items: center;
            flex-direction: column;
            gap: 0.367px;
            flex-shrink: 0;

            &-image {
                background-repeat: no-repeat;
                width: 200px;
                background-size: contain;
                background-position: top center;
                height: 100px;
            }

            &-text {
                font-size: 121.726px;
                color: $ct-color-primary;
                font-weight: 900;
                line-height: 100%;
                letter-spacing: -3.652px;
                text-transform: uppercase;
            }
        }

    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .modal.hidden {
        display: none;
    }

    .modal-content {
        background: $ct-color-primary-dark;
        padding: 20px;
        border-radius: 16px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-align: center;
        width: 700px;
        height: 500px;
        flex-shrink: 0;
    }

    .close-button {
        font-size: 24px;
        cursor: pointer;
        float: right;
        color: $ct-color-white;
    }

    .modal-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 20px;
    }

    .modal-header {
        transform: rotate(-90deg);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 124px;
    }

    .modal-header .las-vegas {
        color: #D6D6D6;
        text-align: center;
        font-size: 64px;
        font-style: normal;
        font-weight: 800;
        line-height: 100%;
        letter-spacing: -1.92px;
        text-transform: uppercase;
        margin-right: 60px;
        width: 100%;
    }

    .modal-body .wolves {
        font-size: 64px;
        width: 100%;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        text-transform: uppercase;
        font-weight: 900;
        color: transparent;
        -webkit-text-stroke: 3px #d6d6d6;
        text-align: left;
        max-width: 437px;
    }

    .modal-body-wolf-image {
        background-size: cover;
        background-position: center;
        width: 73px;
        height: 79px;
        flex-shrink: 0;
        margin-bottom: 10px;
    }

    .modal-body {
        height: 100%;
        padding: 20px;
        gap: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .modal-body-pack-heading {
        color: $ct-color-white;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: -1.44px;
        text-align: justify;
    }

    .modal-body-pack-heading-v {
        color: $ct-color-white;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: -1.44px;
        text-align: justify;
    }

    .modal-body-pack-text {
        color: $ct-color-white;
        font-feature-settings: 'liga' off, 'clig' off;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        text-align: left;
        width: 437px;
        margin-top: 8px;
    }

    .user-input-wrapper {
        display: flex;
        width: 570px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .input-container {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 25px;
        align-self: stretch;
    }

    .email-input {
        width: 520px;
        border-radius: 4px;
        outline: none;
        color: $ct-color-white;
        border: none;
        background: transparent;

    }

    .arrow-icon {
        display: flex;
        width: 48px;
        padding: 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 32px;
        border: 1.5px solid $ct-color-white;
    }

    .email-input::placeholder {
        color: $ct-color-white;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: -0.42px;
    }

    .line {
        width: 570px;
        height: 3px;
        border-bottom: 2px solid $ct-color-white;
        margin: 0;
    }
}