.footer {
    display: flex;
    padding: 64px 56px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: #000000;
    flex-direction: column;


    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;
    }

    .footer-left {
        display: flex;
        align-items: flex-start;
        gap: 48px;
    }

    .footer-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
    }

    .footer-column ul {
        list-style: none;
        padding: 0;
        width: 202px;
    }

    .footer-column li {
        margin-bottom: 10px;
    }

    .footer-column a {
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-decoration: none;
    }

    .footer-column a:hover {
        text-decoration: underline;
    }

    .footer-icons {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
        
        &-text{
            color: $ct-color-white;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            letter-spacing: -0.72px;
            text-transform: uppercase;
        }

        &-social {
            display: flex;
            align-items: center;
            gap: 16px;

            a img, img {
                 filter: invert(1);
                 width: 24px;
                 height: 24px;
             }
        }
    }


    .footer-circle {
        width: 294px;
        height: 293px;
        margin-left: auto;
        margin-top: 20px;
        background-repeat: no-repeat;
    }
}