.headernavigation {
    display: flex;
    width: 100%;
    height: 88px;
    padding: 29px 56px;
    align-items: center;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1 0 0;
    }

    &__left {
        .multifield-wrapper {
            display: inline-flex;
            align-items: center;
            gap: 48px;

            &__image {

                a,
                a img {
                    width: 48px;
                    height: 48px;
                    display: block;
                }
            }

            &__text {
                display: flex;
                align-items: center;
                gap: 32px;

                a {
                    text-align: center;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    text-decoration: none;
                }
            }
        }
    }

    &__right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 48px;

        p {
            text-align: center;
            font-family: "Helvetica Neue";
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            letter-spacing: -0.42px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        .search span,
        .add-to-bag span,
        .add-to-bag span img,
        .search span img {
            width: 24px;
            height: 24px;
        }
    }
}

    .headernavigation.team-roster {
        background-color: $ct-color-white;

        .headernavigation__left .multifield-wrapper__text a {
            color: $ct-color-primary-dark;
        }
    }

    .headernavigation.schedule-tickets {
        background-color: $ct-color-gray;

        .headernavigation__left .multifield-wrapper__text a {
            color: $ct-color-white;
        }
    }

    .headernavigation.clp-header,
    .headernavigation.home-header {
        background-color: transparent;
        position: absolute;
        top: 16px;
        max-width: 1440px;

        .headernavigation__left .multifield-wrapper__text a {
            color: $ct-color-white;
        }

        .headernavigation__right p {
            color: $ct-color-white;
        }
    }

    .headernavigation.plp-header,
    .headernavigation.pdp-header {
        background-color: $ct-color-white;

        & .headernavigation__left .multifield-wrapper__text a {
            color: $ct-color-primary-dark;
        }

        & .headernavigation__right p {
            color: $ct-color-primary-dark;
        }
    }