.homevideobannerComp {
    display: inline-flex;
    height: 670px;
    padding: 56px 51.678px 56px 41px;
    align-items: center;
    flex-shrink: 0;
    background: url('/content/dam/desertwolves/sites/homepage/Hero.png') no-repeat;
    background-size: cover;
    width: 100%;

    &__container {
        display: flex;
        gap: 52px;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    &__content {
        display: flex;
        width: 385px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    &__heading {
        color: $ct-color-white;
        -webkit-text-stroke-width: 1;
        -webkit-text-stroke-color: $ct-color-white;
        font-family: "Helvetica Neue";
        font-size: 72px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        /* 72px */
        letter-spacing: -2.16px;
        text-transform: uppercase;
    }

    &__description {
        color: $ct-color-white;
        font-family: "Helvetica Neue";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        /* 24px */
        letter-spacing: -0.72px;
    }

    &__button-container {
        display: flex;
        gap: 16px;
    }

    &__button-container svg {
        cursor: pointer;
    }
   
    &__button {
        display: flex;
        padding: 16px;
        text-align: center;
        font-family: "Helvetica Neue";
        font-size: 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 32px;
        background: $ct-color-white;
        color: $ct-color-primary-dark;
        text-align: center;
        font-family: "Helvetica Neue";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        /* 16px */
        letter-spacing: -0.48px;
        border: none;
        cursor: pointer;
    }
}