.thumbnail-wrapper {
    width: 100%;
    display: flex;
    padding: 48px 52px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 24px;
    }

    &__heading {
        display: flex;
        justify-content: space-between;
    }

    &__heading-text {
        color: $ct-color-primary-dark;
        font-family: "Helvetica Neue";
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        /* 48px */
        letter-spacing: -1.44px;
        text-transform: uppercase;
    }

    &__heading-link {
        display: flex;
        padding: 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: $ct-color-primary-dark;
        text-align: center;
        font-family: "Helvetica Neue";
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        /* 14px */
        letter-spacing: -0.42px;
        text-decoration: none;
        border-radius: 32px;
        border: 1.5px solid $ct-color-primary-dark;
    }

    &__cards {
        display: flex;
        align-items: center;
        gap: 24px;
        align-self: stretch;
        justify-content: space-between;
    }

    &__card {
        width: 318px;
        height: 381px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
    }

    &__card img {
        width: 318px;
        height: 212px;
        flex-shrink: 0;
        border-radius: 16px;
        background: lightgray -50.186px -4px / 131.563% 110.6% no-repeat;
    }

    &__card-description {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__category {
        color: $ct-color-primary;
        font-family: "Helvetica Neue";
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__card-heading {
        color: $ct-color-primary-dark;
        font-family: "Helvetica Neue";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 8px;
        letter-spacing: -0.5px;
        height: 80px;
    }

    &__card-date {
        display: flex;
        justify-content: space-between;
    }

    &__card-date p {
        color: $ct-color-primary-dark;
        font-family: "Helvetica Neue";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}
