.schedule-container {
  background: $ct-color-primary-dark;

  &__banner {
    height: 520px;
    width: 100%;
    top: 100px;
    position: relative;

    .banner-opacity {
      color: #fff;
      font-size: 5pc;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      position: relative;
      display: flex;
      top: 240px;
      left: 50px;
      width: fit-content;
    }
  }
  &__tickets-container {
    color: $ct-color-white;
    display: flex;
    padding: 56px 48px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    width: 100%;

    &--topBlock{
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 24px;

      .topBlock--header {
        display: flex;
        justify-content: space-between;
        width: inherit;

        .heading {
          width: 84%;
          font-size: 48px;
          font-style: normal;
          font-weight: 700;
          line-height: 100%;
          color: var(--White, #FFF);
          letter-spacing: -1.44px;
          text-transform: uppercase;
        }

        .controls{
          display: flex;
          align-items: center;
          width: 10%;
          justify-content: space-between;

          .filter-sort-button {
            color:$ct-color-white;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: -0.42px;
            border-radius: 32px;
            cursor: pointer;
            display: flex;
            padding: 16px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border: 1.5px solid $ct-color-white;
            background: transparent;
            font-style: normal;
            line-height: 100%;
            align-items: center;
}
          }
        }
      }
      .topBlock--containerInfo{
        font-size: 18px;
        line-height: 120%;
        letter-spacing: -0.54px;
        color:$ct-color-white;
        width: 95%;
        font-style: normal;
        font-weight: 400;
    }

    &--card-block {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      gap: 24px;
      justify-content: space-between;
      
      .scheduleCard {
        display: flex;
        width: 240px;
        height: 341px;
        padding: 24px 32px;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;
        border-radius: 16px;
        background: $ct-color-white;

        &--groundType {
          color: rgba(225, 225, 225, 0.60);
          text-align: center;
          font-size: 60px;
          font-style: normal;
          font-weight: 900;
          line-height: 100%;
          letter-spacing: -1.8px;
          text-transform: uppercase;
        }
        &--image {
          width: 124px;
          height: 124px;
          flex-shrink: 0;
          border-radius: 124px;
          margin-top: -40px;
        }
        &--name {
          color: var(--Dark-Color, $ct-color-primary-dark);
          text-align: center;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 100%;
          letter-spacing: -0.72px;
          margin-bottom: 12px;
          min-height: 48px;
          width: 165px;
        }
      
        &--time {
          color: $ct-color-black;
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 100%;
          letter-spacing: -0.98px;
          max-width: 115px;
        }
      
        &--button {
          margin-top: 16px;
          height: 46px;
          width: 176px;
          color: $ct-color-white;
          background-color: $ct-color-primary;
          text-align: center;
          font-family: "Helvetica Neue";
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 100%;
          letter-spacing: -0.14px;
        }
      }
    }
  }
}

