.campaign-content-wrapper-social {
  position: relative;
  background-size: cover;
  background-color: $ct-color-white;

  .info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 60px 20px 20px;
    border-radius: 10px;
    color: $ct-color-primary-dark;
    background: transparent;
    min-height: 600px;

    &__section {
      flex: 1;
      padding: 60px 20px 20px;
      text-align: center;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      background-size: cover;
      height: 100%;

      &__image {
        flex: 1;
        background-size: contain;
        min-height: 440px;
        height: 440px;
        width: 660px;
        background-repeat: no-repeat;

        &--background-image {
          background-repeat: no-repeat;
          height: 440px;
          min-height: 440px;
          width: 100%;
          background-size: cover;
        }

        &--bg-man {
          height: 512px;
          background-repeat: no-repeat;
          background-position: 100% 0;
          position: absolute;
          top: 48px;
          right: 50px;
          width: 378px;
          background-size: auto;
        }
      }

      &__description {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 16px;
        margin-top: 20px;
        color: $ct-color-primary-dark;

        &-heading {
          font-size: 36px;
          font-style: normal;
          font-weight: 700;
          line-height: 100%;
          letter-spacing: -1.08px;
          text-transform: uppercase;
        }

        &-text {
          color: $ct-color-dark-gray;
          font-family: "Helvetica Neue";
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%;
          text-align: left;
          width: 678px;
        }

        &-social-links {
          display: flex;
          gap: 16px;
          justify-content: center;

          a {
            text-decoration: none;
            color: $ct-color-white;
            border-radius: 5px;
            font-size: 0.9rem;
          }
        }

        &-button {
          background: $ct-color-white;;
          color: inherit;
          border: none;
          padding: 16px;
          font-size: 1rem;
          cursor: pointer;
          max-width: 190px;
          left: 0;
          right: 0;
          position: relative;
          border: 1px solid $ct-color-primary-dark;
          border-radius: 32px;
          font-weight: 700;
          text-transform: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  &.Home{
    .info-wrapper,
    .info-wrapper__section{
      padding-top: 0 !important;

      .info-wrapper__section__image--bg-man{
        top: -72px !important;
      }
    }
  }
}
