.tour-container {
  background: $ct-color-white;
  padding: 56px 48px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 24px;
  
  &__section{
    gap: 16px;
    display: flex;
    width: 50%;
    height: 688px;
    padding-bottom: 36px;
    flex-direction: column;
    align-items: center;
  
    &__image{
      width: 100%;
      min-height: 440px;
      border-radius: 1pc;
      max-width: 660px;

      img{
        width: 100%;
        height: 100%;
      }
    }
    &__content{
      justify-content: space-between;
      display: flex;
      width: 660px;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;

      &--title{
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        color: $ct-color-primary-dark;
        letter-spacing: -1.08px;
        text-transform: uppercase;
      }
      &--description{
        color: $ct-color-gray-light;
        font-family: "Helvetica Neue";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        display: grid;
        gap: 8px;
        line-height: 120%;
      }
      &--btns{
        display: flex;
        gap: 8px;

        .btn-primary{
          border-radius: 32px;
          color: $ct-color-white;
          background: $ct-color-primary;
          min-width: 160px;
          height: 48px;
        }
        .btn-secondary{
          border-radius: 32px;
          border: 1.5px solid $ct-color-primary-dark;
          color: $ct-color-primary-dark;
          min-width: 227px;
          height: 48px;
        }
      }
    }
  
  }
}