
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

body{
    width: 100%;
    font-family: 'Helvetica Neue';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card-container{
    display: grid;
    grid-row-gap:20px;
}

.card,.card-xl{
    min-width: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: -webkit-fill-available;
    position: relative;
    justify-content: space-between;
}

.card-xl{
    width: 100%;
    max-width: 96%;
}

.w-65{
    width: 65%;
}

.column{
    display: grid;
    grid-row-gap:20px;
}

.card-xl-height{
    height: inherit;
    justify-content: space-between;
}

.card-block{
    display: grid;
    gap:20px;
}

.card-block.bg-cover img{
    width: 100%;
    height: -webkit-fill-available;
}

.bg-cover .card{
    padding: 0px;
    width: 100%;
    height: inherit;
}

.card-header-block{
    display: flex;
}
.card-title-block{
    position: absolute;
    width: 100px;
    height: inherit;
    left: 20px;

}
.card-title-block h1{
    position: absolute;
    transform: rotate(270deg);
    font-size: 56px;
    font-weight: 700;
    top: 82px;
    left: -75px;
    border: solid 2px;
    text-wrap-mode: nowrap;
}

.card-title-overlay-block{
    width: 25%;
    background: rgba(250, 250, 250, .5);
    padding: 15px;
    height: fit-content;
}

.card-image-block{
    display: flex;
}

.card-image-block img{
    width: 100%;
}

.card-custom-btn span{
    padding: 5px 12px;
    border-radius: 15px;
}

.card-content-block{
    width: 400px;
}

.card-text-block{
    display: flex;
    justify-content: space-between;
}
.card-text{
    margin-top: 0px;
    width: 115px;
}

.card-carousel-btn img{
    height: 30px;
    width: 30px !important;
}
.card-buynow-btn button{
    padding: 10px;
    border-style: none;
    text-transform: capitalize;
}
.bg-light-gray{
    background: #EBEBEB;
}

.bg-gray{
    background-color: #B1B1B1;
}

.bg-gray-lineargradient{
     background: linear-gradient(to right, #B1B1B1 0%, #404040 100%);
}

.bg-gray{
    background-color: #C4C4C4;
}

.bg-dark-gray{
   background-color: #404040;
}

.bg-grey{
    background-color:#6B6B6B;
}

.bg-white{
    background-color: #fff;
}

.text-white{
    color:#fff;
}

.text-grey{
    color:#404040;
}

.n-mt-30{
    margin-top: -30px;
}

.mt-15{
    margin-top: 15px;
}

.mt-30{
    margin-top: 30px;
}

button:active{
    border-style: none;
    text-transform: capitalize;
}

.grid-2cl-30-60{
    grid-template-columns: 32% 65.5%;
}
.grid-2cl-60-30{
    grid-template-columns: 65.5% 32%;
}
.grid-3-cl{
    grid-template-columns: 32% 32% 32%;
}

.row{
    display: grid;
    grid-column-gap:20px;
}

.grid-2cl{
    grid-template-columns: 49% 49%;
}

.twowordtext{
    left: -176px !important;
    top: 140px !important;
}

.threewordtext{
    left: -269px !important;
    top: 234px !important;
}

.card-header-block div:nth-of-type(2){
    margin-left: 100px;
    /* margin-right: 100px; */
}

.row-reverse .card-header-block{
    flex-direction: row-reverse;
}

.row-reverse .card-image-block{
    margin-left: 100px;
}

.row-reverse .card-content-block{
    align-self: end;
}

.content-center{
    justify-content: center;
}

.no-width{
    width: unset !important;
}





/* profile stat page */
.bg-light-gray{
    background: #EBEBEB;
}

.bg-gray{
    background-color: #B1B1B1;
}

.bg-gray-lineargradient{
     background: linear-gradient(to right, #B1B1B1 0%, #404040 100%);
}

.bg-gray{
    background-color: #C4C4C4;
}

.bg-dark-gray{
   background-color: #404040;
}

.bg-grey{
    background-color:#6B6B6B;
}

.bg-white{
    background-color: #fff;
}

.text-white{
    color:#fff;
}

.text-grey{
    color:#404040;
}

.n-mt-30{
    margin-top: -30px;
}

.mt-15{
    margin-top: 15px;
}

.mt-30{
    margin-top: 30px;
}

.pfs-profile img{
    width: auto;
    border-radius: 50%;
    height: 144px;
}

.pfs-card{
    /* min-width: 400px;
    width: 400px; */
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: -webkit-fill-available;
    position: relative;
    justify-content: space-between;
}

.pfs-card-content-block{
    width: inherit;
}

.pfs-card-text-block{
    display: flex;
    justify-content: space-between;
}
.pfs-card-text{
    margin-top: 0px;
    width: 115px;
}

.border_bottom{
    border-bottom:solid 1px #404040;
}

.pfs-card-title-block{
    position: relative;
}


.pfs-card-title-block h2{
    position: absolute;
    right: 0px;
    font-size: 1rem;
    cursor: pointer;
}

.pfs-card-image-block{
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.pfs-card-image-block img{
    width: 85%;
}

.font-size-14{
    font-size: 14px;
}

.font-size-20{
    font-size: 20px;
}

.font-size-18{
    font-size: 18px;
}

.font-size-28{
    font-size: 28px;
}

.font-size-56{
    font-size: 56px;
}

.font-weight-700{
    font-weight: 800;
}

.font-weight-500{
    font-weight: 500;
}

.font-weight-400{
    font-weight: 400;
}

.text-align-end{
    text-align: end;
}

.text-align-center{
    text-align: center;
}

.text-uppercase{
    text-transform: uppercase;
}

.pfs-card-container{
    display: grid;
}

.grid-3cl{
    grid-template-columns: 32% 32% 32%;
    column-gap: 2%;
}

.grid-4cl{
    grid-template-columns: 23% 23% 23% 23%;
    column-gap: 2%;
}

.pfs-card:hover{
    background: #EBEBEB;    
}

.pfs-card:hover img{
    transform: scale(1.05);
}

.pfs-card.active{
    background: #808080;
    color:#fff;
}

.pfs-card.active .pfs-card-image-block{
    justify-content: end;
}
.pfs-card.active .pfs-card-image-block img{
   margin-right: -100px;
}

.pfs-card.active .pfs-card-text-block{
    color: #fff;
    z-index: 0;
}

.pfs-card.active h2{
    display: none;
}

.pfs-card.active .overlay{
    display: block;
}

.close_icon{
    position: absolute;
    right: 15px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close_icon img{
    width: 15px;
    height: 15px;
}

.overlay{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0px;
    left: 0px;
    /* background-color: rgba(0,0,0,.8); */
}

.overlay-header{
    padding: 15px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 250px;
}
.overlay-content-block{
    display: grid;
    margin-bottom: 2%;
}

.overlay-body{
    padding: 15px;
    width: 250px;
}