<sly data-sly-use.model="com.adobe.aem.desertwolves.core.models.CardContainerModel"></sly>
<div class="plp-wrapper">
  <div class="cards-container" style="margin-top: 30px;">
    <div class="cards-block bg-cover grid-2cl-30-60">
      <div class="cards">
        <img class="" src="${model.hoodieImage}" />
      </div>
      <div class="cards-xl bg-gray">
        <div class="cards-header-block">
          <div class="cards-image-block">
            <img class="" src="${model.hoodieBgImage}" />
          </div>
          <div class="carousel-part">
            <!-- Flexbox -->
            <div class="rc-carousel-box hoodie">
              <!-- Items start -->
              <sly data-sly-list="${model.hoodieProducts}">
                <div class="rc-carousel-item">
                  <img class="rc-carousel-item-image" src="${item.productImage}" alt="hoodieProducts" />
                </div>
              </sly>
            </div>
          </div>
        </div>
        <div class="cards-content-block mt-15 grid-2cl">
          <div class="cards-text-block mt-15 grid-2cl-60-30">
            <div class="cards-text text-blue custom-width">${model.hoodieTitle}</div>
            <!-- <div class="cards-custom-btn mt-15 custom-width">
              <span class="">${model.hoodieCustomizable}</span>
             </div> -->
            <div class="cards-buynow-btn text-align-start">
              <button type="button" class="bg-white text-blue" onclick="window.location.href='${model.hoodieCtaLink @context='uri'}'">${model.hoodieCtaLabel}</button>
            </div>
            <div class="cards-price text-blue text-align-start">${model.hoodiePrice}</div>
          </div>

        </div>
      </div>
    </div>
    <div class="cards-block bg-cover grid-2cl-60-30">
      <div class="cards-xl bg-gray">
        <div class="cards-header-block content-center">
          <div class="cards-image-block">
            <img class="" style="position: absolute;top:0;left:0" src="${model.shoesBgImage}" />
            <img class="shoeimg" src="${model.shoesProductImage}" />
          </div>
        </div>
        <div style="" class="cards-content-block mt-15 grid-2cl">
          <div class="cards-text-block mt-15 grid-2cl-60-30">
            <div class="cards-text text-white custom-width">${model.shoesTitle}</div>
            <div class="cards-buynow-btn  mt-15">
              <button type="button" style="position: absolute;top:55px" class="bg-white text-blue">${model.shoesCtaLabel}</button>
            </div>
            <div class="text-white mt-15 custom-width">${model.shoesSubTitle}</div>
            <div>&nbsp</div>
            <div class="mt-15 cards-price text-white">${model.shoesPrice}</div>

          </div>

        </div>
      </div>
      <div class="cards">
        <img class="" src="${model.shoesImage}" />
      </div>
    </div>
    <div class="cards-block bg-cover grid-2cl-60-30">
      <div class="column">
        <div class="row  grid-2cl">
          <div class="cards bg-grey">
            <img class="" src="${model.basketballimage}" />
          </div>
          <div class="cards bg-light-gray">
            <div class="cards-header-block content-center">
              <div class="cards-image-block">
                <img class="mt-30 backetball" style="height:342px;width: 342px;" src="${model.basketballBgImage}" />
              </div>
            </div>

            <div class="cards-content-block grid-2cl p-lr-40">
              <div class="cards-text-block">
                <div class="cards-text text-blue normalCase">${model.basketballTitle}</div>
                <!-- <div class="text-blue">${model.basketballAvailability}</div> -->
                <div class="cards-buynow-btn text-align-end ">
                  <div class="cards-price text-blue text-align-start">${model.basketballPrice}</div>
                </div>
              </div>
              <div class="cards-buynow-btn text-align-end ">
                <button type="button" class="bg-white text-blue">${model.hatCtaLabel}</button>
              </div>

            </div>
          </div>
        </div>
        <div class="row bg-cover grid-2cl">
          <div class="cards bg-grey">
            <div class="cards-header-block">
              <div class="cards-image-block">
                <img class="" style="position: absolute;" src="${model.maskBgImage}" />
                <img class="mask_img" style="position: absolute;" src="${model.maskImage}" />
              </div>
            </div>
            <div class="cards-content-block mt-15 grid-2cl padding-15">
              <div class="cards-text-block mt-15">
                <div class="cards-text text-white">${model.maskTitle}</div>
                <div class="cards-price text-white text-align-start">${model.maskPrice}</div>
                <!-- <div class="text-white mt-15">${model.maskSubtitle}</div> -->
              </div>
              <div class="cards-buynow-btn text-align-end mt-15">
                <button type="button" class="bg-white text-blue">${model.hatCtaLabel}</button>
              </div>
            </div>
          </div>
          <div class="cards bg-light-gray">
            <img class="" src="${model.maskProductImage}"  alt="maskProductImage"/>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="cards cards-xl-height bg-grey">
          <div class="cards-header-block">
            <div class="cards-image-block">
              <img class="" style="position: absolute;" src="${model.mobileBgImage}" />
              <img class="mobile_img"  src="${model.mobileImage}" />
            </div>
          </div>
          <div class="cards-content-block mt-15 grid-2cl padding-15">
            <div class="cards-text-block mt-15">
              <div class="cards-text text-white custom-width">${model.mobileTitle}</div>
              <!-- <div class="cards-custom-btn mt-15">
                <span class="text-white">${model.mobileCustomizable}</span>
              </div> -->
              <div class="cards-buynow-btn text-align-end mt-15">
                <div class="cards-price text-white text-align-start">${model.mobilePrice}</div>
              </div>
            </div>
            <div class="cards-buynow-btn text-align-end mt-15">
              <button type="button" class="bg-white text-blue">${model.hatCtaLabel}</button>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="cards-block bg-cover grid-2cl-30-60">
      <div class="cards ">
        <img class="" src="${model.hatImage}" />
      </div>
      <div class="cards-xl bg-gray">
        <div class="cards-header-block">
          <div class="cards-image-block">
            <img class="" src="${model.hatBgImage}" />
          </div>
          <div class="carousel-part">
            <!-- Flexbox -->
            <div class="rc-carousel-box hat">
              <!-- Items start -->
              <sly data-sly-list="${model.hatProducts}">
                <div class="rc-carousel-item">
                  <img class="rc-carousel-item-image" src="${item.productImage}" alt="hatProducts" />
                </div>
              </sly>
            </div>
          </div>
        </div>
        <div class="cards-content-block grid-2cl">
          <div class="cards-text-block grid-2cl-60-30">
            <div class="cards-text text-blue custom-width">${model.hatTitle}</div>
            <div class="cards-buynow-btn text-align-end">
              <button type="button" class="bg-white text-blue" onclick="window.location.href='${model.hatCtaLink @context='uri'}'">${model.hatCtaLabel}</button>
            </div>
            <div class="cards-price text-gray text-align-start">${model.hatPrice}</div>
            <!-- <div class="text-gray mt-8 custom-width">${model.hatAvailability}</div> -->
          </div>

        </div>
      </div>
    </div>
    <div class="cards-block bg-cover grid-2cl-60-30">
      <div class="cards-xl bg-gray">
        <div class="cards-header-block">
          <div class="cards-image-block">
            <img class="" src="${model.jerseyBgImage}"  alt="jerseyBgImage"/>
          </div>
          <div class="carousel-part">
            <!-- Flexbox -->
            <div class="rc-carousel-box jersey">
              <!-- Items start -->
              <sly data-sly-list="${model.jerseyProducts}">
                <div class="rc-carousel-item">
                  <img class="rc-carousel-item-image" src="${item.productImage}" alt="jerseyProducts" />
                </div>
              </sly>
            </div>
          </div>
        </div>
        <div class="cards-content-block grid-2cl">
          <div class="cards-text-block grid-2cl-60-30 ml-25">
            <div class="cards-text text-blue custom-width">${model.jerseyTitle}</div>
            <div class="cards-buynow-btn text-align-end">
              <button type="button" class="bg-white text-blue" onclick="window.location.href='${model.jerseyCtaLink @context='uri'}'">${model.jerseyCtaLabel}</button>
            </div>
            <div class="cards-price text-blue text-align-start">${model.jerseyPrice}</div>
            <!-- <div class="text-gray mt-8 custom-width">${model.jerseyAvailability}</div> -->
          </div>

        </div>
      </div>
      <div class="cards">
        <img class="" src="${model.jerseyImage}"  alt="jerseyImage"/>
      </div>
    </div>
  </div>
</div>