<div class="tour-container">
    <div class="tour-container__section">
        <div class='tour-container__section__image'>
         <img src="${properties.leftIimage}" alt='Virtual Tour'/>
        </div>
        <div class='tour-container__section__content'>
          <div class='tour-container__section__content--title'>${properties.leftTitle}</div>
          <div class='tour-container__section__content--description'>${properties.leftDescription}</div>
          <div class='tour-container__section__content--btns'>
            <a href="${properties.primaryCtaLink}" target="${properties.primaryCtaTarget}" class='ct-button btn-primary'>${properties.primaryCtaLabel}</a>
            <a href="${properties.secondaryCtaLink}" target="${properties.secondaryCtaTarget}" class='ct-button btn-secondary'>${properties.secondaryCtaLabel}</a>
          </div>
        </div>
    </div>
    <div class="tour-container__section">
        <div class='tour-container__section__image'>
             <img src="${properties.rightImage}" alt='Stadium'/>
        </div>
        <div class='tour-container__section__content'>
          <div class='tour-container__section__content--title'>${properties.rightTitle}</div>
          <div class='tour-container__section__content--description address'>
              <div>${properties.address}</div>
              <div>${properties.phone1}</div>
              <div>${properties.phone2}</div>
              <div>${properties.email}</div> 
            </div>
        </div>
    </div>
</div>