<sly data-sly-use.model="com.adobe.aem.desertwolves.core.models.NewsAndUpdatesModel"></sly>
<div class="thumbnail-wrapper">
    <div class="thumbnail-wrapper__container">
        <div class="thumbnail-wrapper__heading">
            <p class="thumbnail-wrapper__heading-text">${model.title}</p>
            <a href="${model.ctaLink}" target="${model.target}" class="thumbnail-wrapper__heading-link">${model.ctaLabel}
                <img src="${model.ctaIcon}" alt="icon">
            </a>
        </div>
        <div class="thumbnail-wrapper__cards">
            <sly data-sly-list="${model.newsCards}">
            <div class="thumbnail-wrapper__card">
                <img src="${item.image}" alt="image"/>
                <div class="thumbnail-wrapper__card-description">
                    <p class="thumbnail-wrapper__category">${item.category}</p>
                    <p class="thumbnail-wrapper__card-heading">${item.description}</p>
                    <div class="thumbnail-wrapper__card-date">
                        <p>${item.date}</p>
                        <p>${item.time}</p>
                    </div>
                </div>
            </div>
            </sly>
        </div>
    </div>
</div>