<sly data-sly-use.clientlib="core/wcm/components/commons/v1/templates/clientlib.html">
    <sly data-sly-call="${clientlib.all @ categories='desertwolves.site.teamroster'}" />
</sly>


<div class="pfs-profile text-align-center mt-30">
    <img class="" src="/content/dam/desertwolves/sites/unknown_user.png"/>
    <h3 class="font-size-56 font-weight-700 text-uppercase">Your Las vegas WOLVES</h3>
</div>
<div class="card-container" style="margin-top: 30px;">
    <div class="pfs-card-container grid-3cl border_bottom">
        <div class="pfs-card text-grey">
            <div class="overlay text-white">
                <div class="overlay-header font-size-14 grid-3cl">
                    <div>&nbsp;</div>
                    <div >career</div>
                    <div>Season</div>
                    <div class="close_icon">
                        <img src="/content/dam/desertwolves/sites/UI_Icons.png"/>
                    </div>
                </div>
                <div class="overlay-body font-size-14">
                    <div class="overlay-content-block grid-3cl">
                        <div>Games</div>
                        <div>13</div>
                        <div>29</div>
                        <div>PPG</div>
                        <div>15</div>
                        <div>15.9</div>
                        <div>RPG</div>
                        <div>15</div>
                        <div>15.9</div>
                        <div>APG</div>
                        <div>3.8</div>
                        <div>3.4</div>
                    </div>
                    <div class="overlay-content-block grid-3cl">
                        <div>Height</div>
                        <div>6'3"</div>
                        <div>&nbsp;</div>
                        <div>weight</div>
                        <div>194</div>
                        <div>&nbsp;</div>
                        <div>Age</div>
                        <div>32</div>
                        <div>&nbsp;</div>
                        <div>Years Pro</div>
                        <div>10</div>
                        <div>&nbsp;</div>
                        <div>country</div>
                        <div>USA</div>
                        <div>&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="pfs-card-header-block border_bottom content-center">
                <div class="pfs-card-title-block">
                    <h2 class="">Stats</h1>
                </div>
                <div class="pfs-card-image-block mt-15">
                    <img class="" src="/content/dam/desertwolves/sites/unknown_user.png"  />
                </div>
            </div>
            <div class="pfs-card-content-block mt-15">
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20px font-weight-400">
                        Jaxon
                    </div>
                    <div class="pfs-card-text font-weight-700 font-size-28 text-align-end">
                        0
                    </div>

                </div>
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20 font-weight-700">
                        Vardell
                    </div>
                    <div class="pfs-card-text font-size-14 text-align-end">
                        Guard
                    </div>
                </div>
            </div>
        </div>
        <div class="pfs-card text-grey">
            <div class="overlay text-white">
                <div class="overlay-header font-size-14 grid-3cl">
                    <div>&nbsp;</div>
                    <div >career</div>
                    <div>Season</div>
                    <div class="close_icon">
                        <img src="/content/dam/desertwolves/sites/UI_Icons.png"/>
                    </div>
                </div>
                <div class="overlay-body font-size-14">
                    <div class="overlay-content-block grid-3cl">
                        <div>Games</div>
                        <div>13</div>
                        <div>29</div>
                        <div>PPG</div>
                        <div>15</div>
                        <div>15.9</div>
                        <div>RPG</div>
                        <div>15</div>
                        <div>15.9</div>
                        <div>APG</div>
                        <div>3.8</div>
                        <div>3.4</div>
                    </div>
                    <div class="overlay-content-block grid-3cl">
                        <div>Height</div>
                        <div>6'3"</div>
                        <div>&nbsp;</div>
                        <div>weight</div>
                        <div>194</div>
                        <div>&nbsp;</div>
                        <div>Age</div>
                        <div>32</div>
                        <div>&nbsp;</div>
                        <div>Years Pro</div>
                        <div>10</div>
                        <div>&nbsp;</div>
                        <div>country</div>
                        <div>USA</div>
                        <div>&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="pfs-card-header-block border_bottom content-center">
                <div class="pfs-card-title-block">
                    <h2 class="">Stats</h1>
                </div>
                <div class="pfs-card-image-block mt-15">
                    <img class="" src="/content/dam/desertwolves/sites/unknown_user.png"  />
                </div>
            </div>
            <div class="pfs-card-content-block mt-15">
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20px font-weight-400">
                        Jaxon
                    </div>
                    <div class="pfs-card-text font-weight-700 font-size-28 text-align-end">
                        0
                    </div>

                </div>
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20 font-weight-700">
                        Vardell
                    </div>
                    <div class="pfs-card-text font-size-14 text-align-end">
                        Guard
                    </div>
                </div>
            </div>
        </div>
        <div class="pfs-card text-grey">
            <div class="overlay text-white">
                <div class="overlay-header font-size-14 grid-3cl">
                    <div>&nbsp;</div>
                    <div >career</div>
                    <div>Season</div>
                    <div class="close_icon">
                        <img src="/content/dam/desertwolves/sites/UI_Icons.png"/>
                    </div>
                </div>
                <div class="overlay-body font-size-14">
                    <div class="overlay-content-block grid-3cl">
                        <div>Games</div>
                        <div>13</div>
                        <div>29</div>
                        <div>PPG</div>
                        <div>15</div>
                        <div>15.9</div>
                        <div>RPG</div>
                        <div>15</div>
                        <div>15.9</div>
                        <div>APG</div>
                        <div>3.8</div>
                        <div>3.4</div>
                    </div>
                    <div class="overlay-content-block grid-3cl">
                        <div>Height</div>
                        <div>6'3"</div>
                        <div>&nbsp;</div>
                        <div>weight</div>
                        <div>194</div>
                        <div>&nbsp;</div>
                        <div>Age</div>
                        <div>32</div>
                        <div>&nbsp;</div>
                        <div>Years Pro</div>
                        <div>10</div>
                        <div>&nbsp;</div>
                        <div>country</div>
                        <div>USA</div>
                        <div>&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="pfs-card-header-block border_bottom content-center">
                <div class="pfs-card-title-block">
                    <h2 class="">Stats</h1>
                </div>
                <div class="pfs-card-image-block mt-15">
                    <img class="" src="/content/dam/desertwolves/sites/unknown_user.png"  />
                </div>
            </div>
            <div class="pfs-card-content-block mt-15">
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20px font-weight-400">
                        Jaxon
                    </div>
                    <div class="pfs-card-text font-weight-700 font-size-28 text-align-end">
                        0
                    </div>

                </div>
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20 font-weight-700">
                        Vardell
                    </div>
                    <div class="pfs-card-text font-size-14 text-align-end">
                        Guard
                    </div>
                </div>
            </div>
        </div>
        <div class="pfs-card text-grey">
            <div class="overlay text-white">
                <div class="overlay-header font-size-14 grid-3cl">
                    <div>&nbsp;</div>
                    <div >career</div>
                    <div>Season</div>
                    <div class="close_icon">
                        <img src="/content/dam/desertwolves/sites/UI_Icons.png"/>
                    </div>
                </div>
                <div class="overlay-body font-size-14">
                    <div class="overlay-content-block grid-3cl">
                        <div>Games</div>
                        <div>13</div>
                        <div>29</div>
                        <div>PPG</div>
                        <div>15</div>
                        <div>15.9</div>
                        <div>RPG</div>
                        <div>15</div>
                        <div>15.9</div>
                        <div>APG</div>
                        <div>3.8</div>
                        <div>3.4</div>
                    </div>
                    <div class="overlay-content-block grid-3cl">
                        <div>Height</div>
                        <div>6'3"</div>
                        <div>&nbsp;</div>
                        <div>weight</div>
                        <div>194</div>
                        <div>&nbsp;</div>
                        <div>Age</div>
                        <div>32</div>
                        <div>&nbsp;</div>
                        <div>Years Pro</div>
                        <div>10</div>
                        <div>&nbsp;</div>
                        <div>country</div>
                        <div>USA</div>
                        <div>&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="pfs-card-header-block border_bottom content-center">
                <div class="pfs-card-title-block">
                    <h2 class="">Stats</h1>
                </div>
                <div class="pfs-card-image-block mt-15">
                    <img class="" src="/content/dam/desertwolves/sites/unknown_user.png"  />
                </div>
            </div>
            <div class="pfs-card-content-block mt-15">
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20px font-weight-400">
                        Jaxon
                    </div>
                    <div class="pfs-card-text font-weight-700 font-size-28 text-align-end">
                        0
                    </div>

                </div>
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20 font-weight-700">
                        Vardell
                    </div>
                    <div class="pfs-card-text font-size-14 text-align-end">
                        Guard
                    </div>
                </div>
            </div>
        </div>
        <div class="pfs-card text-grey">
            <div class="overlay text-white">
                <div class="overlay-header font-size-14 grid-3cl">
                    <div>&nbsp;</div>
                    <div >career</div>
                    <div>Season</div>
                    <div class="close_icon">
                        <img src="/content/dam/desertwolves/sites/UI_Icons.png"/>
                    </div>
                </div>
                <div class="overlay-body font-size-14">
                    <div class="overlay-content-block grid-3cl">
                        <div>Games</div>
                        <div>13</div>
                        <div>29</div>
                        <div>PPG</div>
                        <div>15</div>
                        <div>15.9</div>
                        <div>RPG</div>
                        <div>15</div>
                        <div>15.9</div>
                        <div>APG</div>
                        <div>3.8</div>
                        <div>3.4</div>
                    </div>
                    <div class="overlay-content-block grid-3cl">
                        <div>Height</div>
                        <div>6'3"</div>
                        <div>&nbsp;</div>
                        <div>weight</div>
                        <div>194</div>
                        <div>&nbsp;</div>
                        <div>Age</div>
                        <div>32</div>
                        <div>&nbsp;</div>
                        <div>Years Pro</div>
                        <div>10</div>
                        <div>&nbsp;</div>
                        <div>country</div>
                        <div>USA</div>
                        <div>&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="pfs-card-header-block border_bottom content-center">
                <div class="pfs-card-title-block">
                    <h2 class="">Stats</h1>
                </div>
                <div class="pfs-card-image-block mt-15">
                    <img class="" src="/content/dam/desertwolves/sites/unknown_user.png"  />
                </div>
            </div>
            <div class="pfs-card-content-block mt-15">
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20px font-weight-400">
                        Jaxon
                    </div>
                    <div class="pfs-card-text font-weight-700 font-size-28 text-align-end">
                        0
                    </div>

                </div>
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20 font-weight-700">
                        Vardell
                    </div>
                    <div class="pfs-card-text font-size-14 text-align-end">
                        Guard
                    </div>
                </div>
            </div>
        </div>
        <div class="pfs-card text-grey">
            <div class="overlay text-white">
                <div class="overlay-header font-size-14 grid-3cl">
                    <div>&nbsp;</div>
                    <div >career</div>
                    <div>Season</div>
                    <div class="close_icon">
                        <img src="/content/dam/desertwolves/sites/UI_Icons.png"/>
                    </div>
                </div>
                <div class="overlay-body font-size-14">
                    <div class="overlay-content-block grid-3cl">
                        <div>Games</div>
                        <div>13</div>
                        <div>29</div>
                        <div>PPG</div>
                        <div>15</div>
                        <div>15.9</div>
                        <div>RPG</div>
                        <div>15</div>
                        <div>15.9</div>
                        <div>APG</div>
                        <div>3.8</div>
                        <div>3.4</div>
                    </div>
                    <div class="overlay-content-block grid-3cl">
                        <div>Height</div>
                        <div>6'3"</div>
                        <div>&nbsp;</div>
                        <div>weight</div>
                        <div>194</div>
                        <div>&nbsp;</div>
                        <div>Age</div>
                        <div>32</div>
                        <div>&nbsp;</div>
                        <div>Years Pro</div>
                        <div>10</div>
                        <div>&nbsp;</div>
                        <div>country</div>
                        <div>USA</div>
                        <div>&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="pfs-card-header-block border_bottom content-center">
                <div class="pfs-card-title-block">
                    <h2 class="">Stats</h1>
                </div>
                <div class="pfs-card-image-block mt-15">
                    <img class="" src="/content/dam/desertwolves/sites/unknown_user.png"  />
                </div>
            </div>
            <div class="pfs-card-content-block mt-15">
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20px font-weight-400">
                        Jaxon
                    </div>
                    <div class="pfs-card-text font-weight-700 font-size-28 text-align-end">
                        0
                    </div>

                </div>
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20 font-weight-700">
                        Vardell
                    </div>
                    <div class="pfs-card-text font-size-14 text-align-end">
                        Guard
                    </div>
                </div>
            </div>
        </div>
        <div class="pfs-card text-grey">
            <div class="overlay text-white">
                <div class="overlay-header font-size-14 grid-3cl">
                    <div>&nbsp;</div>
                    <div >career</div>
                    <div>Season</div>
                    <div class="close_icon">
                        <img src="/content/dam/desertwolves/sites/UI_Icons.png"/>
                    </div>
                </div>
                <div class="overlay-body font-size-14">
                    <div class="overlay-content-block grid-3cl">
                        <div>Games</div>
                        <div>13</div>
                        <div>29</div>
                        <div>PPG</div>
                        <div>15</div>
                        <div>15.9</div>
                        <div>RPG</div>
                        <div>15</div>
                        <div>15.9</div>
                        <div>APG</div>
                        <div>3.8</div>
                        <div>3.4</div>
                    </div>
                    <div class="overlay-content-block grid-3cl">
                        <div>Height</div>
                        <div>6'3"</div>
                        <div>&nbsp;</div>
                        <div>weight</div>
                        <div>194</div>
                        <div>&nbsp;</div>
                        <div>Age</div>
                        <div>32</div>
                        <div>&nbsp;</div>
                        <div>Years Pro</div>
                        <div>10</div>
                        <div>&nbsp;</div>
                        <div>country</div>
                        <div>USA</div>
                        <div>&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="pfs-card-header-block border_bottom content-center">
                <div class="pfs-card-title-block">
                    <h2 class="">Stats</h1>
                </div>
                <div class="pfs-card-image-block mt-15">
                    <img class="" src="/content/dam/desertwolves/sites/unknown_user.png"  />
                </div>
            </div>
            <div class="pfs-card-content-block mt-15">
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20px font-weight-400">
                        Jaxon
                    </div>
                    <div class="pfs-card-text font-weight-700 font-size-28 text-align-end">
                        0
                    </div>

                </div>
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20 font-weight-700">
                        Vardell
                    </div>
                    <div class="pfs-card-text font-size-14 text-align-end">
                        Guard
                    </div>
                </div>
            </div>
        </div>
        <div class="pfs-card text-grey">
            <div class="overlay text-white">
                <div class="overlay-header font-size-14 grid-3cl">
                    <div>&nbsp;</div>
                    <div >career</div>
                    <div>Season</div>
                    <div class="close_icon">
                        <img src="/content/dam/desertwolves/sites/UI_Icons.png"/>
                    </div>
                </div>
                <div class="overlay-body font-size-14">
                    <div class="overlay-content-block grid-3cl">
                        <div>Games</div>
                        <div>13</div>
                        <div>29</div>
                        <div>PPG</div>
                        <div>15</div>
                        <div>15.9</div>
                        <div>RPG</div>
                        <div>15</div>
                        <div>15.9</div>
                        <div>APG</div>
                        <div>3.8</div>
                        <div>3.4</div>
                    </div>
                    <div class="overlay-content-block grid-3cl">
                        <div>Height</div>
                        <div>6'3"</div>
                        <div>&nbsp;</div>
                        <div>weight</div>
                        <div>194</div>
                        <div>&nbsp;</div>
                        <div>Age</div>
                        <div>32</div>
                        <div>&nbsp;</div>
                        <div>Years Pro</div>
                        <div>10</div>
                        <div>&nbsp;</div>
                        <div>country</div>
                        <div>USA</div>
                        <div>&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="pfs-card-header-block border_bottom content-center">
                <div class="pfs-card-title-block">
                    <h2 class="">Stats</h1>
                </div>
                <div class="pfs-card-image-block mt-15">
                    <img class="" src="/content/dam/desertwolves/sites/unknown_user.png"  />
                </div>
            </div>
            <div class="pfs-card-content-block mt-15">
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20px font-weight-400">
                        Jaxon
                    </div>
                    <div class="pfs-card-text font-weight-700 font-size-28 text-align-end">
                        0
                    </div>

                </div>
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20 font-weight-700">
                        Vardell
                    </div>
                    <div class="pfs-card-text font-size-14 text-align-end">
                        Guard
                    </div>
                </div>
            </div>
        </div>
        <div class="pfs-card text-grey">
            <div class="overlay text-white">
                <div class="overlay-header font-size-14 grid-3cl">
                    <div>&nbsp;</div>
                    <div >career</div>
                    <div>Season</div>
                    <div class="close_icon">
                        <img src="/content/dam/desertwolves/sites/UI_Icons.png"/>
                    </div>
                </div>
                <div class="overlay-body font-size-14">
                    <div class="overlay-content-block grid-3cl">
                        <div>Games</div>
                        <div>13</div>
                        <div>29</div>
                        <div>PPG</div>
                        <div>15</div>
                        <div>15.9</div>
                        <div>RPG</div>
                        <div>15</div>
                        <div>15.9</div>
                        <div>APG</div>
                        <div>3.8</div>
                        <div>3.4</div>
                    </div>
                    <div class="overlay-content-block grid-3cl">
                        <div>Height</div>
                        <div>6'3"</div>
                        <div>&nbsp;</div>
                        <div>weight</div>
                        <div>194</div>
                        <div>&nbsp;</div>
                        <div>Age</div>
                        <div>32</div>
                        <div>&nbsp;</div>
                        <div>Years Pro</div>
                        <div>10</div>
                        <div>&nbsp;</div>
                        <div>country</div>
                        <div>USA</div>
                        <div>&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="pfs-card-header-block border_bottom content-center">
                <div class="pfs-card-title-block">
                    <h2 class="">Stats</h1>
                </div>
                <div class="pfs-card-image-block mt-15">
                    <img class="" src="/content/dam/desertwolves/sites/unknown_user.png"  />
                </div>
            </div>
            <div class="pfs-card-content-block mt-15">
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20px font-weight-400">
                        Jaxon
                    </div>
                    <div class="pfs-card-text font-weight-700 font-size-28 text-align-end">
                        0
                    </div>

                </div>
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20 font-weight-700">
                        Vardell
                    </div>
                    <div class="pfs-card-text font-size-14 text-align-end">
                        Guard
                    </div>
                </div>
            </div>
        </div>
        <div class="pfs-card text-grey">
            <div class="overlay text-white">
                <div class="overlay-header font-size-14 grid-3cl">
                    <div>&nbsp;</div>
                    <div >career</div>
                    <div>Season</div>
                    <div class="close_icon">
                        <img src="/content/dam/desertwolves/sites/UI_Icons.png"/>
                    </div>
                </div>
                <div class="overlay-body font-size-14">
                    <div class="overlay-content-block grid-3cl">
                        <div>Games</div>
                        <div>13</div>
                        <div>29</div>
                        <div>PPG</div>
                        <div>15</div>
                        <div>15.9</div>
                        <div>RPG</div>
                        <div>15</div>
                        <div>15.9</div>
                        <div>APG</div>
                        <div>3.8</div>
                        <div>3.4</div>
                    </div>
                    <div class="overlay-content-block grid-3cl">
                        <div>Height</div>
                        <div>6'3"</div>
                        <div>&nbsp;</div>
                        <div>weight</div>
                        <div>194</div>
                        <div>&nbsp;</div>
                        <div>Age</div>
                        <div>32</div>
                        <div>&nbsp;</div>
                        <div>Years Pro</div>
                        <div>10</div>
                        <div>&nbsp;</div>
                        <div>country</div>
                        <div>USA</div>
                        <div>&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="pfs-card-header-block border_bottom content-center">
                <div class="pfs-card-title-block">
                    <h2 class="">Stats</h1>
                </div>
                <div class="pfs-card-image-block mt-15">
                    <img class="" src="/content/dam/desertwolves/sites/unknown_user.png"  />
                </div>
            </div>
            <div class="pfs-card-content-block mt-15">
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20px font-weight-400">
                        Jaxon
                    </div>
                    <div class="pfs-card-text font-weight-700 font-size-28 text-align-end">
                        0
                    </div>

                </div>
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20 font-weight-700">
                        Vardell
                    </div>
                    <div class="pfs-card-text font-size-14 text-align-end">
                        Guard
                    </div>
                </div>
            </div>
        </div>
        <div class="pfs-card text-grey">
            <div class="overlay text-white">
                <div class="overlay-header font-size-14 grid-3cl">
                    <div>&nbsp;</div>
                    <div >career</div>
                    <div>Season</div>
                    <div class="close_icon">
                        <img src="/content/dam/desertwolves/sites/UI_Icons.png"/>
                    </div>
                </div>
                <div class="overlay-body font-size-14">
                    <div class="overlay-content-block grid-3cl">
                        <div>Games</div>
                        <div>13</div>
                        <div>29</div>
                        <div>PPG</div>
                        <div>15</div>
                        <div>15.9</div>
                        <div>RPG</div>
                        <div>15</div>
                        <div>15.9</div>
                        <div>APG</div>
                        <div>3.8</div>
                        <div>3.4</div>
                    </div>
                    <div class="overlay-content-block grid-3cl">
                        <div>Height</div>
                        <div>6'3"</div>
                        <div>&nbsp;</div>
                        <div>weight</div>
                        <div>194</div>
                        <div>&nbsp;</div>
                        <div>Age</div>
                        <div>32</div>
                        <div>&nbsp;</div>
                        <div>Years Pro</div>
                        <div>10</div>
                        <div>&nbsp;</div>
                        <div>country</div>
                        <div>USA</div>
                        <div>&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="pfs-card-header-block border_bottom content-center">
                <div class="pfs-card-title-block">
                    <h2 class="">Stats</h1>
                </div>
                <div class="pfs-card-image-block mt-15">
                    <img class="" src="/content/dam/desertwolves/sites/unknown_user.png"  />
                </div>
            </div>
            <div class="pfs-card-content-block mt-15">
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20px font-weight-400">
                        Jaxon
                    </div>
                    <div class="pfs-card-text font-weight-700 font-size-28 text-align-end">
                        0
                    </div>

                </div>
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20 font-weight-700">
                        Vardell
                    </div>
                    <div class="pfs-card-text font-size-14 text-align-end">
                        Guard
                    </div>
                </div>
            </div>
        </div>
        <div class="pfs-card text-grey">
            <div class="overlay text-white">
                <div class="overlay-header font-size-14 grid-3cl">
                    <div>&nbsp;</div>
                    <div >career</div>
                    <div>Season</div>
                    <div class="close_icon">
                        <img src="/content/dam/desertwolves/sites/UI_Icons.png"/>
                    </div>
                </div>
                <div class="overlay-body font-size-14">
                    <div class="overlay-content-block grid-3cl">
                        <div>Games</div>
                        <div>13</div>
                        <div>29</div>
                        <div>PPG</div>
                        <div>15</div>
                        <div>15.9</div>
                        <div>RPG</div>
                        <div>15</div>
                        <div>15.9</div>
                        <div>APG</div>
                        <div>3.8</div>
                        <div>3.4</div>
                    </div>
                    <div class="overlay-content-block grid-3cl">
                        <div>Height</div>
                        <div>6'3"</div>
                        <div>&nbsp;</div>
                        <div>weight</div>
                        <div>194</div>
                        <div>&nbsp;</div>
                        <div>Age</div>
                        <div>32</div>
                        <div>&nbsp;</div>
                        <div>Years Pro</div>
                        <div>10</div>
                        <div>&nbsp;</div>
                        <div>country</div>
                        <div>USA</div>
                        <div>&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="pfs-card-header-block border_bottom content-center">
                <div class="pfs-card-title-block">
                    <h2 class="">Stats</h1>
                </div>
                <div class="pfs-card-image-block mt-15">
                    <img class="" src="/content/dam/desertwolves/sites/unknown_user.png"  />
                </div>
            </div>
            <div class="pfs-card-content-block mt-15">
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20px font-weight-400">
                        Jaxon
                    </div>
                    <div class="pfs-card-text font-weight-700 font-size-28 text-align-end">
                        0
                    </div>

                </div>
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20 font-weight-700">
                        Vardell
                    </div>
                    <div class="pfs-card-text font-size-14 text-align-end">
                        Guard
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pfs-card-container grid-4cl">
        <div class="pfs-card text-grey">
            <div class="pfs-card-header-block border_bottom content-center">
                <div class="pfs-card-image-block mt-15">
                    <img class="" src="/content/dam/desertwolves/sites/unknown_user.png"  />
                </div>
            </div>
            <div class="pfs-card-content-block mt-15">
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20px font-weight-400">
                        Jaxon
                    </div>
                    <div class="pfs-card-text font-weight-700 font-size-28 text-align-end">
                        0
                    </div>

                </div>
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20 font-weight-700">
                        Vardell
                    </div>
                    <div class="pfs-card-text font-size-14 text-align-end">
                        Guard
                    </div>
                </div>
            </div>
        </div>
        <div class="pfs-card text-grey">
            <div class="pfs-card-header-block border_bottom content-center">
                <div class="pfs-card-image-block mt-15">
                    <img class="" src="/content/dam/desertwolves/sites/unknown_user.png"  />
                </div>
            </div>
            <div class="pfs-card-content-block mt-15">
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20px font-weight-400">
                        Jaxon
                    </div>
                    <div class="pfs-card-text font-weight-700 font-size-28 text-align-end">
                        0
                    </div>

                </div>
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20 font-weight-700">
                        Vardell
                    </div>
                    <div class="pfs-card-text font-size-14 text-align-end">
                        Guard
                    </div>
                </div>
            </div>
        </div>
        <div class="pfs-card text-grey">
            <div class="pfs-card-header-block border_bottom content-center">
                <div class="pfs-card-image-block mt-15">
                    <img class="" src="/content/dam/desertwolves/sites/unknown_user.png"  />
                </div>
            </div>
            <div class="pfs-card-content-block mt-15">
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20px font-weight-400">
                        Jaxon
                    </div>
                    <div class="pfs-card-text font-weight-700 font-size-28 text-align-end">
                        0
                    </div>

                </div>
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20 font-weight-700">
                        Vardell
                    </div>
                    <div class="pfs-card-text font-size-14 text-align-end">
                        Guard
                    </div>
                </div>
            </div>
        </div>
        <div class="pfs-card text-grey">
            <div class="pfs-card-header-block border_bottom content-center">
                <div class="pfs-card-image-block mt-15">
                    <img class="" src="/content/dam/desertwolves/sites/unknown_user.png"  />
                </div>
            </div>
            <div class="pfs-card-content-block mt-15">
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20px font-weight-400">
                        Jaxon
                    </div>
                    <div class="pfs-card-text font-weight-700 font-size-28 text-align-end">
                        0
                    </div>

                </div>
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20 font-weight-700">
                        Vardell
                    </div>
                    <div class="pfs-card-text font-size-14 text-align-end">
                        Guard
                    </div>
                </div>
            </div>
        </div>
        <div class="pfs-card text-grey">
            <div class="pfs-card-header-block border_bottom content-center">
                <div class="pfs-card-image-block mt-15">
                    <img class="" src="/content/dam/desertwolves/sites/unknown_user.png"  />
                </div>
            </div>
            <div class="pfs-card-content-block mt-15">
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20px font-weight-400">
                        Jaxon
                    </div>
                    <div class="pfs-card-text font-weight-700 font-size-28 text-align-end">
                        0
                    </div>

                </div>
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20 font-weight-700">
                        Vardell
                    </div>
                    <div class="pfs-card-text font-size-14 text-align-end">
                        Guard
                    </div>
                </div>
            </div>
        </div>
        <div class="pfs-card text-grey">
            <div class="pfs-card-header-block border_bottom content-center">
                <div class="pfs-card-image-block mt-15">
                    <img class="" src="/content/dam/desertwolves/sites/unknown_user.png"  />
                </div>
            </div>
            <div class="pfs-card-content-block mt-15">
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20px font-weight-400">
                        Jaxon
                    </div>
                    <div class="pfs-card-text font-weight-700 font-size-28 text-align-end">
                        0
                    </div>

                </div>
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20 font-weight-700">
                        Vardell
                    </div>
                    <div class="pfs-card-text font-size-14 text-align-end">
                        Guard
                    </div>
                </div>
            </div>
        </div>
        <div class="pfs-card text-grey">
            <div class="pfs-card-header-block border_bottom content-center">
                <div class="pfs-card-image-block mt-15">
                    <img class="" src="/content/dam/desertwolves/sites/unknown_user.png"  />
                </div>
            </div>
            <div class="pfs-card-content-block mt-15">
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20px font-weight-400">
                        Jaxon
                    </div>
                    <div class="pfs-card-text font-weight-700 font-size-28 text-align-end">
                        0
                    </div>

                </div>
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20 font-weight-700">
                        Vardell
                    </div>
                    <div class="pfs-card-text font-size-14 text-align-end">
                        Guard
                    </div>
                </div>
            </div>
        </div>
        <div class="pfs-card text-grey">
            <div class="pfs-card-header-block border_bottom content-center">
                <div class="pfs-card-image-block mt-15">
                    <img class="" src="/content/dam/desertwolves/sites/unknown_user.png"  />
                </div>
            </div>
            <div class="pfs-card-content-block mt-15">
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20px font-weight-400">
                        Jaxon
                    </div>
                    <div class="pfs-card-text font-weight-700 font-size-28 text-align-end">
                        0
                    </div>

                </div>
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20 font-weight-700">
                        Vardell
                    </div>
                    <div class="pfs-card-text font-size-14 text-align-end">
                        Guard
                    </div>
                </div>
            </div>
        </div>
        <div class="pfs-card text-grey">
            <div class="pfs-card-header-block border_bottom content-center">
                <div class="pfs-card-image-block mt-15">
                    <img class="" src="/content/dam/desertwolves/sites/unknown_user.png"  />
                </div>
            </div>
            <div class="pfs-card-content-block mt-15">
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20px font-weight-400">
                        Jaxon
                    </div>
                    <div class="pfs-card-text font-weight-700 font-size-28 text-align-end">
                        0
                    </div>

                </div>
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20 font-weight-700">
                        Vardell
                    </div>
                    <div class="pfs-card-text font-size-14 text-align-end">
                        Guard
                    </div>
                </div>
            </div>
        </div>
        <div class="pfs-card text-grey">
            <div class="pfs-card-header-block border_bottom content-center">
                <div class="pfs-card-image-block mt-15">
                    <img class="" src="/content/dam/desertwolves/sites/unknown_user.png"  />
                </div>
            </div>
            <div class="pfs-card-content-block mt-15">
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20px font-weight-400">
                        Jaxon
                    </div>
                    <div class="pfs-card-text font-weight-700 font-size-28 text-align-end">
                        0
                    </div>

                </div>
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20 font-weight-700">
                        Vardell
                    </div>
                    <div class="pfs-card-text font-size-14 text-align-end">
                        Guard
                    </div>
                </div>
            </div>
        </div>
        <div class="pfs-card text-grey">
            <div class="pfs-card-header-block border_bottom content-center">
                <div class="pfs-card-image-block mt-15">
                    <img class="" src="/content/dam/desertwolves/sites/unknown_user.png"  />
                </div>
            </div>
            <div class="pfs-card-content-block mt-15">
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20px font-weight-400">
                        Jaxon
                    </div>
                    <div class="pfs-card-text font-weight-700 font-size-28 text-align-end">
                        0
                    </div>

                </div>
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20 font-weight-700">
                        Vardell
                    </div>
                    <div class="pfs-card-text font-size-14 text-align-end">
                        Guard
                    </div>
                </div>
            </div>
        </div>
        <div class="pfs-card text-grey">
            <div class="pfs-card-header-block border_bottom content-center">
                <div class="pfs-card-image-block mt-15">
                    <img class="" src="/content/dam/desertwolves/sites/unknown_user.png"  />
                </div>
            </div>
            <div class="pfs-card-content-block mt-15">
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20px font-weight-400">
                        Jaxon
                    </div>
                    <div class="pfs-card-text font-weight-700 font-size-28 text-align-end">
                        0
                    </div>

                </div>
                <div class="pfs-card-text-block mt-15">
                    <div class="pfs-card-text font-size-20 font-weight-700">
                        Vardell
                    </div>
                    <div class="pfs-card-text font-size-14 text-align-end">
                        Guard
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>