<div class="merch-showcase-wrapper">
  <div class="merch-showcase">
    <div class="merch-showcase-heading">
      <p class="las-vegas">${properties.title}</p>
      <p class="wolves">${properties.subTitle}</p>
      <p class="sub_heading ">${properties.description}</p>
      <p class="sub_heading ">${properties.instruction}</p>
      <button>${properties.ctaLabel}</button>
    </div>
    <div class="merch-showcase-products">
      <div class="product-card">
        <div class="product-card-image">
          <img class="hoodie" src="${properties.hoodieImage}" alt="merch1">
        </div>
      </div>
      <div class="product-card">
        <div class="product-card-image">
          <img class="jersey" src="${properties.jerseyImage}" alt="merch1">
        </div>
      </div>
    </div>
  </div>
</div>